{% extends 'base.html' %}

{% block body %}
<div class="w-100" style="height:100px;"></div>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Success!</h4>
  <p>Great job! you have finally made an account, now it's time to get started on creating a listing. Have Fun!</p>
  <hr>
  <p class="mb-0">If you have issues with your account information, you can always go back to edit profile and make the changes needed</p>
</div>
<a href="{% url 'index' %}"><button type="button" class="btn btn-danger">Home</button></a>
<a href="{% url 'search' %}"><button type="button" class="btn btn-danger">Browse Listings</button></a>
{% endblock %}