<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}cultureplatform{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>