{% extends 'base.html'%}

{% block body %}
<div class="page-content">
  <div class="da-section bg-light" id="services">
    <div class="da-services">
      <div class="container text-center">
        <div class="h3 pb-5 text-center" data-aos="fade-up">Title</div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card mb-3">
              <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="500">
                <div class="text-primary"><i class="pb-3 fas fa-code fa-3x"></i>
                  <p class="font-weight-bold">Subtitle</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet
                  tempus blandit pretium etc.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card mb-3">
              <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="1000">
                <div class="text-primary"><i class="pb-3 fab fa-buromobelexperte fa-3x"></i>
                  <p class="font-weight-bold">Subtitle</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet
                  tempus blandit pretium etc.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card mb-3">
              <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="1500">
                <div class="text-primary"><i class="pb-3 fas fa-cubes fa-3x"></i>
                  <p class="font-weight-bold">Subtitle</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet
                  tempus blandit pretium etc.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card mb-3">
              <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="2000">
                <div class="text-primary"><i class="pb-3 fas fa-eye fa-3x"></i>
                  <p class="font-weight-bold">Subtitle</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet
                  tempus blandit pretium etc.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<footer class="bg-secondary da-section">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-4">
        <div class="h2">Reach us at</div>
        <p class="mb-0">info@apprendre.com</p>
      </div>
      <div class="col-md-4">
        <div class="h6 pb-2">Follow Us</div>
        <ul>
          <li><a class="da-social-link text-green-muted" href="#">Twitter</a></li>
          <li><a class="da-social-link text-green-muted" href="#">Facebook</a></li>
          <li><a class="da-social-link text-green-muted" href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="h6 pb-2">Copyright</div>
        <p>&copy; 2019 Apprendre. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<div id="scrolltop">
  <button class="btn btn-primary"><span class="icon"><i class="fas fa-angle-up fa-2x"></i></span></button>
</div>

{% endblock %}