{% extends 'base.html'%}

{% block body %}
           <div class=" container pt-4">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-0"><a class="text-white navbar-brand" href="index.html">Apprendre</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#da-navbarNav" aria-controls="da-navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-uppercase" id="da-navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link smooth-scroll" href="learn.html">Learn</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="index.html#trending">Categories</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="index.html#discuss">Discuss</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#">-</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="login.html">Login/Sign Up</a></li>
          </ul>
        </div>
      </nav>
    </div>


  <div class="page-content">
    <div class="da-section bg-light" id="services">
      <div class="da-services">
        <div class="container text-center">
          <div class="h3 pb-2 text-center" data-aos="fade-up">Interculturality: <br /></div>
          <p class="font-italic pb-5">Describes a set of multi-faceted processes of interaction through which relations between different cultures are constructed, aiming to enable groups and individuals to forge links between cultures based on equity and mutual respect.</p>

          <div class="h3 pb-2 text-center" data-aos="fade-up">Ethnocentrism: <br /></div>
          <p class="font-italic  pb-5">The concept of evaluating other cultures according to preconceptions originating in the standards of one's own culture.</p>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="card mb-3">
                <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="500">
                  <div class="text-primary"><i class="pb-3 fas fa-book fa-3x"></i>
                    <p class="font-weight-bold text-black">Books</p>
                  </div>
                  <p> &#8226; Ethnocentrism: Integrated Perspectives by Boris Bizumic (2018) <br /> ISBN: 9781317284628</p>
                  <p> &#8226; The Authoritarian Personality by Theodor W. Adorno (1950) <br /> ISBN: 9788824505321</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card mb-4">
                <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="text-primary"><i class="pb-4 fas fa-video fa-3x"></i>
                    <p class="font-weight-bold text-black">Videos</p>
                  </div>
                  <p><button type="button" class="btn btn-outline-primary"><a href="https://www.youtube.com/watch?v=HlXAeOnU520"> Ethnocentrism by Khan Academy </a></button></p>
                  <p><button type="button" class="btn btn-outline-primary"><a href="https://www.youtube.com/watch?v=c_YFdX2m0mE"> Intro to Sociology By NYU </a></button></p>
                  <p><button type="button" class="btn btn-outline-primary"><a href="https://www.youtube.com/watch?v=wlyS4zrklww"> Examples by FunSimpleLife </a></button><br></p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card mb-0">
                <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="1500">
                  <div class="text-primary"><i class="pb-3 fas fa-newspaper fa-3x"></i>
                    <p class="font-weight-bold text-black">Articles</p>
                  </div>
                  <p><a href="https://explorable.com/ethnocentrism" class="text-black">Ethnocentrism</a></p>
                  <p><a href="https://theconversation.com/oxford-style-debate-ethno-nationalism-and-systemic-crisis-are-symptoms-of-the-present-104040" class="text-black"> Ethno-nationalism and systemic crisis are symptoms of the present</a></p>
                  <p><a href="http://www.diversityjournal.com/9336-the-argument-for-ethnocentrism/" class="text-black"> The Argument for Ethnocentrism</a><br><br></p>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
              <div class="card mb-3">
                <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="2000">
                  <div class="text-primary"><i class="pb-3 fas fa-eye fa-3x"></i>
                    <p class="font-weight-bold">Subtitle</p>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet tempus blandit pretium etc.</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
  <footer class="bg-secondary da-section">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-4">
          <div class="h2">Reach us at</div>
          <p class="mb-0">info@apprendre.com</p>
        </div>
        <div class="col-md-4">
          <div class="h6 pb-2">Follow Us</div>
          <ul>
            <li><a class="da-social-link text-green-muted" href="#">Twitter</a></li>
            <li><a class="da-social-link text-green-muted" href="#">Facebook</a></li>
            <li><a class="da-social-link text-green-muted" href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="h6 pb-2">Copyright</div>
          <p>&copy; 2019 Apprendre. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <div id="scrolltop">
    <button class="btn btn-primary"><span class="icon"><i class="fas fa-angle-up fa-2x"></i></span></button>
  </div>

{% endblock %}