
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apprendre</title>
    <meta name="description" content="A Digital Agency Website landing page template built by TemplateFlip.com"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/ekko-lightbox.css" rel="stylesheet">
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body id="top">
      <div class="container pt-4">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-0"><a class="text-white navbar-brand" href="index.html">Apprendre</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#da-navbarNav" aria-controls="da-navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-uppercase" id="da-navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link smooth-scroll" href="learn.html">Learn</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="index.html#trending">Categories</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="index.html#discuss">Discuss</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#">-</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="login.html">Login/Sign Up</a></li>
          </ul>
        </div>
      </nav>
    </div>


  <div class="page-content">
    <div class="da-section bg-light" id="services">
      <div class="da-services">
        <div class="container text-center">
          <div class="h3 pb-5 text-left" data-aos="fade-up">placeholderTitle</div>
            <div class="form-group">
              <!-- <label for="comment">Comment:</label> -->
              <textarea class="form-control" rows="5" id="comment">Comment</textarea>
              <!-- <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time> -->
            </div>
            <div class="container text-left">
              <p><button type="button" class="btn btn-primary">Post</button>
            </div>
          <!-- <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="card mb-3">
                <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="500">
                  <div class="text-primary"><i class="pb-3 fas fa-code fa-3x"></i>
                    <p class="font-weight-bold">Subtitle</p>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet tempus blandit pretium etc.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card mb-3">
                <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="text-primary"><i class="pb-3 fab fa-buromobelexperte fa-3x"></i>
                    <p class="font-weight-bold">Subtitle</p>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet tempus blandit pretium etc.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card mb-3">
                <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="1500">
                  <div class="text-primary"><i class="pb-3 fas fa-cubes fa-3x"></i>
                    <p class="font-weight-bold">Subtitle</p>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet tempus blandit pretium etc.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card mb-3">
                <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="2000">
                  <div class="text-primary"><i class="pb-3 fas fa-eye fa-3x"></i>
                    <p class="font-weight-bold">Subtitle</p>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet tempus blandit pretium etc.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  </div>
  <footer class="bg-secondary da-section">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-4">
          <div class="h2">Reach us at</div>
          <p class="mb-0">info@apprendre.com</p>
        </div>
        <div class="col-md-4">
          <div class="h6 pb-2">Follow Us</div>
          <ul>
            <li><a class="da-social-link text-green-muted" href="#">Twitter</a></li>
            <li><a class="da-social-link text-green-muted" href="#">Facebook</a></li>
            <li><a class="da-social-link text-green-muted" href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="h6 pb-2">Copyright</div>
          <p>&copy; 2019 Apprendre. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <div id="scrolltop">
    <button class="btn btn-primary"><span class="icon"><i class="fas fa-angle-up fa-2x"></i></span></button>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/ekko-lightbox.min.js"></script>
  <script src="scripts/main.js"></script>
</body>
</html>
